<!doctype html>
<html xmlns:ng="http://angularjs.org" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<!--, initial-scale=1-->

	<title>SmartHome by RLC</title>
	<link rel="icon" href="/favicon.png">
	<link rel="stylesheet" type="text/css" href="/styles/rlc.css" />
	<link rel="stylesheet" type="text/css" href="/styles/slds.min.css" />

	<link rel="stylesheet" type="text/css" href="/styles/codemirror.min.css" />
	<link rel="stylesheet" type="text/css" href="/styles/foldgutter.min.css" />
	<link rel="stylesheet" type="text/css" href="/styles/highcharts-ng.css" />


	<!--<script src="/js/init.js"></script>-->
	<script src="/js/highstocks.js"></script>
	<script src="/js/_highcharts/no-data-to-display.js"></script>
	<script src="/js/_highcharts/exporting.js"></script>

	<script src="/js/angular.min.js"></script>
	<script src="/js/_angular/ng-websocket.js"></script>
	<script src="/js/_angular/directives.js"></script>
	<script src="/js/_angular/angular-translate.min.js"></script>
	<script src="/js/_angular/angular-filter.min.js"></script>
	<script src="/js/_angular/highcharts-ng.min.js"></script>

	<!--<script src="/js/_angular/tmhDynamicLocale.js"></script>-->

	<script src="/js/codemirror.min.js"></script>
	<script src="/js/_codemirror/m/loadmode.min.js"></script>
	<script src="/js/_codemirror/m/fold.min.js"></script>
	<script src="/js/_codemirror/m/match.min.js"></script>
	<script src="/js/_codemirror/b/beautify.min.js"></script>
	<script src="/js/_codemirror/b/parser.js"></script>
	<script src="/js/_codemirror/b/beautify-css.js"></script>
	<script src="/js/_codemirror/b/beautify-html.js"></script>
	<script src="/js/pako.min.js"></script>
	

</head>

<body class=""><!--slds-grid_frame-->
	<div ng-controller="smartHomeCtrl" class="slds slds-grid_frame">
		<div id='overlay' class="overlay" ng-show="isLoading()">
			<div class="spinner">
				<div style="color:transparent" class="{{isLoaded ? 'pageMessage' : ''}}" ng-show="isLoaded" ng-init="$root.message = 'Loading engine. Please waiting...'">{{$root.message}}</div>
			</div>
		</div>
		<div id="main">
			<span show-card template="'login'"></span>
		</div>
		<div slds-Message type="$root.action.type" text="$root.action.text"></div>
		<div show-card data="{message:'table.noData'}" template="'service/logview'" ctrlname="'false'" ng-if="$root.clientConfig.isShowLog" ng-show="$root.isShowLog"></div>

	</div>
	<script src="/js/smartHomeApp.js"></script>
</body>

</html>