<div class="slds-grid slds-scrollable set100Height" ng-controller="devicelist.ctrl">
	
	<span ng-if="viewMode == 'dashboard'" class="slds-size--1-of-1">

		<div class="slds-grid slds-grid_align-end slds-size--1-of-1">
			<div class="slds-form slds-form_horizontal">
				<slds-picklist align="'right'" caption="'dashboard.groupby'" click="changeGroupBy(item, $event)" placeHolder="'dashboard.groupbyHolder'" source="groupBy" default="currentGroup"></slds-picklist>
			</div>
		</div>

		<div class="slds-grid slds-size--1-of-1 slds-grid_vertical" ng-init="prefix = (currentGroup === '_type' || currentGroup === '_withoutGrouping') ? 'device.' : ''" ng-repeat="(key, value) in devices | orderBy: ['_type','name','zone'] | groupBy: currentGroup">
			<div ng-init="isOpened = true" class="slds-size--1-of-1 slds-section {{isOpened ? 'slds-is-open' : ''}}">
				<h3 class="slds-section__title">
					<button aria-controls="{{$index}}" aria-expanded="{{isOpened}}" ng-click="isOpened =!isOpened" class="slds-button slds-section__title-action">
						<slds-Svg-Icon ng-show="isOpened" sprite="'utility'" icon="'switch'" class="slds-button__icon--stateful slds-button__icon--left"></slds-Svg-Icon>
						<slds-Svg-Icon ng-show="!isOpened" sprite="'utility'" icon="'chevronright'" class="slds-button__icon--stateful slds-button__icon--left"></slds-Svg-Icon>
					    <span class="slds-truncate" title="{{prefix + key | translate}}">{{prefix + key | translate}} [{{value.length}}]</span>
	    			</button>
				</h3>
				<div aria-hidden="{{!isOpened}}" class="slds-section__content slds-size--1-of-1" id="{{$index}}">
					<div show-card data="{groupBy : key, data: value}" template="'dashboard.cards'"></div>
				</div>
			</div>
		</div>

	</span>

	<span ng-if="viewMode != 'dashboard'" ng-init="orderByField='_type'" class="slds-size--1-of-1">
	    <div ng-if="devices.length == 0">
			<div show-card data="{message:'table.noFoundDevices'}" template="'service/message'" ctrlname="'false'"></div>
		</div>
		<div class="slds-grid slds-grid_align-end slds-size--1-of-1">

			<div class="slds-form-element">
				<div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left-right">
					<slds-Svg-Icon sprite="'utility'" icon="'search'" class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default"></slds-Svg-Icon>
					<input type="text" id="text-input-id-1" class="slds-input" placeholder="Search devices..." ng-model="search">
					<button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon" ng-click="search=''">
	        			<slds-Svg-Icon  sprite="'utility'" icon="'clear'" class="slds-button__icon slds-icon-text-light"></slds-Svg-Icon>
						<span class="slds-assistive-text">Clear</span>
					</button>
				</div>
			</div>
        
		</div>
		<span class="hide" ng-bind="$filteredCount = (devices | filter : search).length"></span>
		<table ng-if="$filteredCount > 0" class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped">
			<thead>
				<tr>
					<th ng-repeat="field in fieldOrder">
						<a href="#" ng-click="$parent.orderByField=field; $parent.reverseSort = !$parent.reverseSort">{{'deviceList.' + field | translate}}
							<slds-Svg-Icon ng-show="$parent.orderByField == field && $parent.reverseSort" sprite="'utility'" icon="'down'" size="'small'"></slds-Svg-Icon>
							<slds-Svg-Icon ng-show="$parent.orderByField == field && !$parent.reverseSort" sprite="'utility'" icon="'up'" size="'small'"></slds-Svg-Icon>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in devices | filter : search | orderBy :orderByField:reverseSort" class="{{ item._isActive ? 'active' : 'inActive' }}">
					<td ng-repeat="field in fieldOrder">
						<span ng-show="field!='image'">
							<span style="cursor:pointer" ng-click="editItem(item._sid);">{{item[field].endsWith('Z') ? (item[field] | date: ('date.format' | translate)) : item[field]}}</span>
						</span>
						<span ng-show="field==='image'">
							<span><img class="device{{field}}" ng-src="{{item._imgSrc}}"/></span>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</span>

	<!-- DEVICE EDITOR DIALOG -->
	  <div ng-if="$root.$isShowEditDialog">
		<div show-card data="{data : logData, closeVar : '$isShowEditDialog'}" template="'dashboard.editor'"></div>
	</div>

	<!-- DEVICE EDITOR DIALOG -->



	<!-- DEVICE LOG VIEW DIALOG -->

	  <div ng-if="$root.$isShowLogDialog && logData">
		<div show-card data="{data : logData, logType: curItem._type, closeVar : '$isShowLogDialog'}" template="'dashboard.logs'"></div>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</div>

	<!-- DEVICE LOG VIEW DIALOG -->

	<!-- DEVICE TIMERS -->
	  <div ng-if="$root.$isShowTimersDialog">
		<div show-card data="{data : curItem, closeVar : '$isShowTimersDialog'}" template="'dashboard.timers'"></div>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</div>
	<!-- DEVICE TIMERS -->
</div>
