﻿<div class="slds-grid slds-scrollable set100Height" ng-controller="config.client.ctrl">
<div class="slds-form slds-form_horizontal">
	<span>
		<slds-picklist caption="'config.client.languages'" click="changeLang(item, $event)" placeHolder="'config.client.languagesHolder'" source="languages" default="$root.clientConfig.lang" align="'right'"/>
	</span>

	<button class="slds-button slds-button_stateful slds-button_neutral slds-col_bump-left" ng-click="restart()">
		<slds-Svg-Icon class="slds-button__icon_stateful slds-button__icon_left" sprite="'utility'" icon="'refresh'"></slds-Svg-Icon>
		Restart
	</button>
						<div class="slds-form-element slds-form--compound">
							<label class="slds-checkbox--toggle slds-grid"  ng-click="$root._saveClientConfig();">
			                    <input type="checkbox" id="sh-{{$parent.$index}}-{{$index}}" aria-describedby="toggle-desc" class="slds-input" placeholder="" ng-model="$root.clientConfig.isShowLog" />
								<span id="toggle-desc" class="slds-checkbox--faux_container" aria-live="assertive">
									<span class="slds-checkbox--faux"></span>
									<span class="slds-checkbox--on"></span>
									<span class="slds-checkbox--off"></span>
								</span>
								<span class="slds-form-element__label slds-m-bottom--none">Show log</span>
                			</label>
						</div>
</div>
</div>