<div ng-controller="dashboard.logs.ctrl" keypress-events>
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-1" class="slds-modal slds-modal_large slds-slide-up-open">
	    <div class="slds-modal__container">
			<header class="slds-docked-composer__header slds-grid slds-shrink-none" aria-live="assertive">
				<div class="slds-media slds-media_center slds-size_1-of-1 slds-no-space">
					<div class="slds-media__figure slds-m-right_x-small">
						<span class="slds-icon_container">
						<slds-Svg-Icon sprite="'utility'" icon="'chart'" size="'small'" class="slds-icon slds-icon_small slds-icon-text-default"></slds-Svg-Icon>
		        	</span>
					</div>
					<div class="slds-media__body">
						<h2 class="slds-truncate" id="modal-heading-id-1"><b>{{parentCtrl.curItem._name}}</b> {{parentCtrl.curItem._zone}} | {{'device.' + parentCtrl.curItem._type | translate}}</h2>
					</div>
				</div>
				<div class="slds-col_bump-left slds-shrink-none">
					<button class="slds-button slds-button_icon slds-button_icon" title="Close" ng-click="$root[data.closeVar] = false;">
						<slds-Svg-Icon sprite="'utility'" icon="'close'" size="'small'" class="slds-icon slds-icon_small slds-icon-text-default"></slds-Svg-Icon>
		    	    </button>
				</div>
			</header>
      		<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
				<highchart ng-if="data" showLastItems="'true'" config="chartConfig"></highchart>
      		</div>
    </div>
  </section>
</div>