﻿<div class="slds-docked_container" ng-controller="dashboard.editor.ctrl">

	<section class="slds-docked-composer slds-grid slds-grid_vertical slds-is-open" role="dialog" aria-labelledby="modal-heading-id-1" aria-describedby="modal-content-id-1">
		<header class="slds-docked-composer__header slds-grid slds-shrink-none {{parentCtrl.errorMsg ? 'slds-theme_error' : ''}}" aria-live="assertive">
			<div class="slds-media slds-media_center slds-size_1-of-1 slds-no-space">
				<div class="slds-media__figure slds-m-right_x-small">
					<span class="slds-icon_container">
						<slds-Svg-Icon sprite="'utility'" icon="'setup'" size="'small'" class="slds-icon slds-icon_small slds-icon-text-default"></slds-Svg-Icon>
					</span>
				</div>
				<div class="slds-media__body">
					<h2 ng-show="!parentCtrl.errorMsg" class="slds-truncate" id="modal-heading-id-1">
						<b>{{parentCtrl.curItem._name}}</b> {{parentCtrl.curItem._zone}} | {{parentCtrl.curItem._sid}} | {{'device.' + parentCtrl.curItem._type | translate}}
					</h2>
					<h2 ng-show="parentCtrl.errorMsg">
						{{parentCtrl.errorMsg}}
					</h2>
				</div>
			</div>
			<div class="slds-col_bump-left slds-shrink-none">
				<button class="slds-button slds-button_icon slds-button_icon" title="Close" ng-click="$root[data.closeVar] = false;">
					<slds-Svg-Icon sprite="'utility'" icon="'close'" size="'small'" class="slds-icon slds-icon_small slds-icon-text-default"></slds-Svg-Icon>
		    	</button>
			</div>
		</header>
		<div class="slds-docked-composer__body slds-docked-composer__body_form" id="modal-content-id-1" ng-init="$curTab = 0" style="background-color:#ffffff">
			<!--style="background-color:#ffffff"-->

			<div id="tab-scoped-0" ng-show="$curTab == 0" role="tabpanel" aria-labelledby="tab-scoped-0__item">
				<div class="slds-size--1-of-1">
					<fieldset class="slds-form slds-form_compound">
						<legend class="slds-assistive-text"></legend>

						<div class="form-element__group">
							<div class="slds-form-element__row">

								<div class="slds-form-element slds-size_1-of-2">
									<label class="slds-form-element__label" for="name">{{'deviceList.name' | translate}}</label>
									<div class="slds-form-element__control">
										<div class="slds-combobox_container slds-has-object-switcher">
											<div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
												<div class="slds-combobox__form-element">
													<input type="text" class="slds-input" ng-model="parentCtrl.curItem._name" id="name">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="slds-form-element slds-size_1-of-2">
									<label class="slds-form-element__label" for="zone">{{'deviceList._zone' | translate}}</label>
									<div class="slds-form-element__control">
										<div class="slds-combobox_container slds-has-object-switcher">
											<div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
												<div class="slds-combobox__form-element">
													<input type="text" class="slds-input" ng-model="parentCtrl.curItem._zone" id="zone">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="slds-form-element slds-form--compound">
							<label class="slds-checkbox--toggle slds-grid">
			                    <input type="checkbox" id="sh-{{$parent.$index}}-{{$index}}" aria-describedby="toggle-desc" class="slds-input" placeholder="" ng-model="parentCtrl.curItem._isSendNotification" />
								<span id="toggle-desc" class="slds-checkbox--faux_container" aria-live="assertive">
									<span class="slds-checkbox--faux"></span>
									<span class="slds-checkbox--on"></span>
									<span class="slds-checkbox--off"></span>
								</span>
								<span class="slds-form-element__label slds-m-bottom--none">Send Notification</span>
                			</label>
						</div>
						<span>
							<img class="device{{field}}" ng-if="parentCtrl.curItem._imgSrc" ng-src="{{parentCtrl.curItem._imgSrc}}"/>
						</span>
						<span ng-repeat="(prop,value) in parentCtrl.curItem">
							<li ng-show="prop.indexOf('_')!=0">
							<span>{{prop}} : {{value}}</span>
						</li>
						</span>
					</fieldset>

				</div>

			</div>
			<div id="tab-scoped-1" ng-show="$curTab == 1" class="slds-size--1-of-1" role="tabpanel" aria-labelledby="tab-scoped-1__item">
				<div class="slds-form-element__control slds-grid">
					<div class="slds-button-group" role="group">
						<div class="slds-form-element__control">
							<slds-picklist caption="'deviceList.events'" click="parentCtrl.changeEvent(item, $event)" placeHolder="'deviceList.eventsHolder'" source="parentCtrl.curItem._serviceInfo._events" default="parentCtrl.curItem._curEvent" />
						</div>
						<div class="slds-form-element__control slds-grid" style="padding-top: 23px;">
							<button class="slds-button slds-button--icon-border {{codeMirror.isChanged ? 'fileIsChanged' : ''}}" ng-click="parentCtrl.saveDeviceInfo(false);" title="Save File. [CTRL+S]">
									<slds-Svg-Icon sprite="'utility'" icon="'package'" size="'small'"></slds-Svg-Icon>
								</button>
							<button class="slds-button slds-button--icon-border" ng-click="parentCtrl.codeMirror._cmd = 'jsbeauty';" title="JS Beutifiller. [CTRL+B]">
									<slds-Svg-Icon sprite="'utility'" icon="'puzzle'" size="'small'"></slds-Svg-Icon>
								</button>
						</div>
					</div>
				</div>
				<div class="slds-size--1-of-1">
					<code-mirror ng-show="parentCtrl.curItem._curEvent" class="eventEditor" container="parentCtrl.codeMirror"></code-mirror>
				</div>

				<div ng-show="parentCtrl.curItem._curEvent" class="slds-form-element slds-size_1-of-1">
					<label class="slds-form-element__label" for="comment">{{'deviceList.event.comment' | translate}}</label>
					<div class="slds-form-element__control">
						<div class="slds-combobox_container slds-has-object-switcher">
							<div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
								<div class="slds-combobox__form-element">
									<input type="text" class="slds-input" ng-model="eventAction.comment" id="comment">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div ng-show="$curTab == 2" id="tab-scoped-2" class="slds-size--1-of-1" role="tabpanel" aria-labelledby="tab-scoped-2__item">
				<div class="slds-col  slds-size_1-of-1">
					<pre style="height:320px">{{parentCtrl.curItem._devInfo | json}}</pre>
				</div>
			</div>

		</div>

		<footer class="slds-docked-composer__footer slds-shrink-none">

			<ul class="slds-tabs_default__nav" style="height:30px" role="tablist">
				<li class="slds-tabs_default__item {{$curTab == 0 ? 'slds-is-active' : ''}}" style="height:30px" ng-click="$curTab=0" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab">Info</a></li>
				<li class="slds-tabs_default__item {{$curTab == 1 ? 'slds-is-active' : ''}}" style="height:30px" ng-click="$curTab=1" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab">Event</a></li>
				<li class="slds-tabs_default__item {{$curTab == 2 ? 'slds-is-active' : ''}}" style="height:30px" ng-click="$parent.$curTab=2" role="presentation" ng-if="parentCtrl.curItem._devInfo"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab">DevInfo</a></li>
			</ul>

			<button class="slds-button slds-button_brand slds-col_bump-left" ng-click="parentCtrl.saveDeviceInfo(true);">
					<slds-Svg-Icon class="slds-button__icon_stateful slds-button__icon_left" sprite="'utility'" icon="'save'"></slds-Svg-Icon>
					Save & close
				</button>
			<button class="slds-button slds-button_stateful slds-button_neutral slds-col_bump-left" ng-click="parentCtrl.saveDeviceInfo(false);">
					<slds-Svg-Icon class="slds-button__icon_stateful slds-button__icon_left" sprite="'utility'" icon="'save'"></slds-Svg-Icon>
					Save
				</button>
		</footer>
	</section>
</div>