﻿<div class="slds-grid slds-size--1-of-1 slds-wrap slds-grid_align-center" ng-controller="dashboard.devicecard.ctrl">
   <span ng-repeat="device in data.data">
   <article class="slds-card slds-m-around_xx-small {{device._isActive ? 'active' : 'inActive'}}" style="width:300px">
      <div class="slds-card__header slds-grid slds-p-around_xx-small">
         <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__figure">
               <slds-Svg-Icon sprite="'utility'" icon="'contact'" class="slds-button__icon slds-button__icon_left"></slds-Svg-Icon>
            </div>
            <div class="slds-media__body">
               <h2>
                  <a href="javascript:void(0);" class="slds-card__header-link slds-truncate">
                  <span class="slds-text-heading_small"><b>{{device._name ? device._name +' | ' + device._zone : ('device.' + device._type | translate)}}</b></span>
                  </a>
               </h2>
            </div>
         </header>
         <div class="slds-no-flex">
            <button class="slds-button slds-button_neutral" ng-click="parentCtrl.curItem=device; parentCtrl.getDeviceAction(device._sid,'Log')">
               <slds-Svg-Icon sprite="'utility'" icon="'chart'" class="slds-button__icon slds-button__icon_left"></slds-Svg-Icon>
               Log
            </button>
         </div>
      </div>
      <div class="slds-card__body slds-card__body_inner">
		    <span ng-repeat="(prop,value) in device">
				<li ng-show="prop.indexOf('_')!=0">
					<span>{{prop}} : {{value.endsWith('Z') ? (value | date: ('date.format' | translate)) : value}}</span>
				</li>
	    	</span>
			<!--<li ng-repeat="field in device._serviceInfo.props" ng-show="device[field]">{{field}} : {{device[field].endsWith('Z') ? (device[field] | date:'MM-dd-yyyy HH:mm:ss') : device[field]}}-->
      </div>
      <footer class="slds-card__footer slds-p-around_xx-small">
        <span ng-repeat="cmd in device._serviceInfo['_ui|commands']">
			<button title="{{cmd.tooltip}}" class="slds-button slds-button_neutral" ng-click="parentCtrl.sendUICmd(device, cmd);">
            	<slds-Svg-Icon sprite="'utility'" icon="cmd.icon" class="slds-button__icon"></slds-Svg-Icon>
			</button>
		</span>
		<button class="slds-button slds-button_neutral" ng-click="parentCtrl.curItem=device; $root.$isShowTimersDialog = true">
            <slds-Svg-Icon sprite="'utility'" icon="'reminder'" class="slds-button__icon"></slds-Svg-Icon>
         </button>

		<button class="slds-button slds-button_neutral {{device._isSendNotification ? 'slds-button_brand' : ''}}" ng-click="setNotification(device)">
            <slds-Svg-Icon sprite="'utility'" icon="'email'" class="slds-button__icon"></slds-Svg-Icon>
         </button>

         <button class="slds-button slds-button_neutral" ng-click="parentCtrl.editItem(device._sid)">
            <slds-Svg-Icon sprite="'utility'" icon="'edit'" class="slds-button__icon slds-button__icon_left"></slds-Svg-Icon>
            Edit
         </button>
      </footer>
   </article>
   <span>
</div>