﻿<div ng-controller="dashboard.devicecard.ctrl" keypress-events>
	<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-describedby="modal-content-id-1" class="slds-modal slds-modal_large slds-slide-up-open">
		<div class="slds-modal__container">
			<header class="slds-docked-composer__header slds-grid slds-shrink-none" aria-live="assertive">
				<div class="slds-media slds-media_center slds-size_1-of-1 slds-no-space">
					<div class="slds-media__figure slds-m-right_x-small">
						<span class="slds-icon_container">
						<slds-Svg-Icon sprite="'utility'" icon="'reminder'" size="'small'" class="slds-icon slds-icon_small slds-icon-text-default"></slds-Svg-Icon>
		        	</span>
					</div>
					<div class="slds-media__body">
						<h2 class="slds-truncate" id="modal-heading-id-1"><b>{{parentCtrl.curItem._name}}</b> {{parentCtrl.curItem._zone}} | {{'device.' + parentCtrl.curItem._type | translate}}</h2>
					</div>
				</div>
				<div class="slds-col_bump-left slds-shrink-none">
					<button class="slds-button slds-button_icon slds-button_icon" title="Close" ng-click="$root[data.closeVar] = false;">
						<slds-Svg-Icon sprite="'utility'" icon="'close'" size="'small'" class="slds-icon slds-icon_small slds-icon-text-default"></slds-Svg-Icon>
		    	    </button>
				</div>
			</header>

			<div class="slds-modal__content slds-p-around_medium slds-wrap" id="modal-content-id-1">

				<div class="slds-grid slds-size_1-of-1">
					<div class="slds-grid slds-size_1-of-1">
						<div ng-show="cronData.length==0" class="slds-size_1-of-1">
                            <div show-card data="{message:'table.noData'}" template="'service/message'" ctrlname="'false'"></div>
						</div>
						<table ng-if="cronData.length>0" class="slds-table slds-table--bordered slds-table-striped slds-table-hover" ng-init="orderByField=fieldOrder[0]">
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th ng-repeat="field in fieldOrder">
										<a href="#" ng-click="$parent.orderByField=field; $parent.reverseSort = !$parent.reverseSort">{{'cron.' + field | translate}}
											<slds-Svg-Icon ng-show="$parent.orderByField.indexOf(field)!=-1 && $parent.reverseSort" sprite="'utility'" icon="'down'" size="'small'"></slds-Svg-Icon>
											<slds-Svg-Icon ng-show="$parent.orderByField.indexOf(field)!=-1 && !$parent.reverseSort" sprite="'utility'" icon="'up'" size="'small'"></slds-Svg-Icon>
										</a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in cronData | orderBy :orderByField:reverseSort" class="{{ item.isActive ? 'active' : 'inActive' }}">
									<td class="slds-size_1-of-8">
										<button class="slds-button slds-button_icon slds-button_icon slds-button_icon-small" ng-click="editItem(item);">
											<slds-Svg-Icon class="slds-button__icon slds-button__icon_hint" sprite="'utility'" icon="'edit'"></slds-Svg-Icon>
										</button> | 
                                        <button class="slds-button slds-button_icon slds-button_icon slds-button_icon-small" ng-click="delRecord($index)">
											<slds-Svg-Icon class="slds-button__icon slds-button__icon_hint" sprite="'utility'" icon="'delete'"></slds-Svg-Icon>
										</button>
										


									</td>
									<td ng-repeat="field in fieldOrder">
										<span span ng-if="field!='isActive'">
											<span style="cursor:pointer" ng-click="editItem(item);">{{item[field]}}</span>
										</span>
										<span ng-if="field=='isActive'">

						<div class="slds-form-element slds-form--compound">
							<label class="slds-checkbox--toggle slds-grid">
			                    <input type="checkbox" id="sh-{{$parent.$index}}-{{$index}}" aria-describedby="toggle-desc" class="slds-input" placeholder="" ng-model="item.isActive" />
								<span id="toggle-desc" class="slds-checkbox--faux_container" aria-live="assertive">
									<span class="slds-checkbox--faux"></span>
									<span class="slds-checkbox--on"></span>
									<span class="slds-checkbox--off"></span>
								</span>
								<span class="slds-form-element__label slds-m-bottom--none"></span>
                			</label>
						</div>

										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<section ng-if="isNeedShow" class="slds-popover slds-nubbin_left slds-popover_large" role="dialog">
						<button ng-click="$parent.isNeedShow=false" class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
						    <slds-Svg-Icon sprite="'utility'" icon="'close'" size="'small'" class="slds-button__icon"></slds-Svg-Icon>
						    <span class="slds-assistive-text">Close dialog</span>
						</button>
						<header class="slds-popover__header">
							<h2 class="slds-text-heading_small">Update cron task</h2>
						</header>
						<div class="slds-popover__body">
							<div class="slds-form-element slds-p-top_small">
								<label class="slds-form-element__label slds-assistive-text" for="comment">Comment</label>
								<div class="slds-form-element__control">
									<input ng-if="curItem" type="text" id="comment" class="slds-input" placeholder="Comment" ng-model="curItem.comment">
								</div>
							</div>

							<div class="slds-form-element slds-p-top_small">
								<label class="slds-form-element__label slds-assistive-text" for="cron">Cron</label>
								<div class="slds-form-element__control">

									<input type="text" id="cron" class="slds-input" placeholder="cron" ng-model="curItem.cron">
								</div>
							</div>

							<code-mirror class="cronEditor" container="codeMirror"></code-mirror>
						</div>
					</section>
				</div>
			</div>
			<footer class="slds-modal__footer slds-modal__footer_directional">
				<button class="slds-button slds-button_brand slds-col_bump-left" ng-click="newRecord();">
					<slds-Svg-Icon class="slds-button__icon_stateful slds-button__icon_left" sprite="'utility'" icon="'add'"></slds-Svg-Icon>
					New
				</button>
			<button ng-if="cronData.length>0" class="slds-button slds-button_stateful slds-button_neutral slds-col_bump-left" ng-click="parentCtrl.saveDeviceInfo(false);">
					<slds-Svg-Icon class="slds-button__icon_stateful slds-button__icon_left" sprite="'utility'" icon="'save'"></slds-Svg-Icon>
					Save
				</button>

				<button class="slds-button slds-button_stateful slds-button_neutral slds-col_bump-left" ng-click="$root[data.closeVar] = false;">
					<slds-Svg-Icon class="slds-button__icon_stateful slds-button__icon_left" sprite="'utility'" icon="'close'"></slds-Svg-Icon>
					Close
				</button>
			</footer>
		</div>
	</section>


</div>