<style>
	
	.CodeMirror {
		height: calc(100vh - 105px);
		/*border-top: 1px solid #eee; border-bottom: 1px solid #eee;*/
	}
	
	.cm-tab {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
		background-position: right;
		background-repeat: no-repeat;
	}
	
	.cm-trailingspace {
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
		background-position: bottom left;
		background-repeat: repeat-x;
	}
	
	.set100Height {
		height: calc(100vh - 75px);
	}
	
	.overflowAuto {
		overflow: auto;
	}
	
	.dirName {
		/*font-size: 120%;*/
		font-weight: bold;
	}
	
	.curFile {
		color: #ff0000;
		fill: #ff0000;
	}
	
	.curFile:hover {
		color: #ff0000;
	}
	
	.curFile:link {
		color: #ff0000;
	}
	
	.curFile:active {
		color: #ff0000;
		font-weight: bold;
	}
	
	.curFile:visited {
		color: #ff0000;
	}
	
	.tree {
	    margin-left: -15px !important;
	}
	
	.tree li {
		list-style-type: none;
		margin: 0;
		padding: 5px 0px 0px 5px;
		position: relative
	}
	
	.tree li::before,
	.tree li::after {
		content: '';
		left: -10px;
		position: absolute;
		right: auto
	}
	
	.tree li::before {
		border-left: 1px solid #999;
		bottom: 50px;
		height: 100%;
		top: 0;
		width: 1px
	}
	
	.tree li::after {
		border-top: 1px solid #999;
		height: 20px;
		top: 15px;
		width: 10px;
	}
	
	.tree li.parent_li>span {
		cursor: pointer
	}
	
	.tree>ul>li::before,
	.tree>ul>li::after {
		border: 0
	}
	
	.tree li:last-child::before {
		height: 15px
	}
	
	ul.treeItem {
		margin: 0 0 0px 15px;
	}
</style>

<script type="text/ng-template" id="treeItem.tmpl">
	<span ng-init="nodeState[data.name] = (data.id.split('/').length<=2 || filterFields.length > 0)"></span>
	<span ng-if="data.dir">
		<slds-Svg-Icon ng-click="nodeState[data.id] = !nodeState[data.id]" ng-show="nodeState[data.id]" sprite="'utility'" icon="'opened_folder'" class="slds-button__icon--stateful slds-button__icon--left slds-icon_x-small"></slds-Svg-Icon>
		<slds-Svg-Icon ng-click="nodeState[data.id] = !nodeState[data.id]" ng-show="!nodeState[data.id]" sprite="'utility'" icon="'open_folder'" class="slds-button__icon--stateful slds-button__icon--left slds-icon_x-small"></slds-Svg-Icon>
		<!--<slds-Svg-Icon sprite="'utility'" icon="'download'" addclasses="'slds-button__icon--stateful slds-button__icon--left'" ng-click="zipContent(data.name)"></slds-Svg-Icon>-->
	    <span  ng-click="nodeState[data.id] = !nodeState[data.id]" class="dirName">{{data.name}}</span>
	</span>

	<span ng-if="!data.dir">
		<a href="{{data.id}}" target="_blank"><slds-Svg-Icon sprite="'utility'" icon="'file'" class="slds-button__icon--stateful slds-button__icon--left"></slds-Svg-Icon></a>
		<slds-Svg-Icon ng-if="!data.dir" ng-click="deleteFile(data.id)" sprite="'utility'" icon="'delete'" class="slds-button__icon--stateful slds-button__icon--left"></slds-Svg-Icon>
		<a ng-click="loadFile(data.id)" class="{{data.name == curFile ? 'curFile' : ''}}" href="#" ng-if="!data.dir">{{data.name}}<span class="slds-max-small-hide"> - {{data.size | number:0}}b</span></a>
	</span>

	<ul class="treeItem" ng-show="nodeState[data.id] || filterFields.length > 0">
		<li ng-repeat="data in data.nodes | filter : filterFields | orderBy : ['!dir','name']" ng-include="'treeItem.tmpl'" class="listFiles {{data.nodes ? 'parent_li' : ''}}"></li>
	</ul>
</script>

<div class="slds-grid slds-wrap slds-grid--pull-padded" ng-controller="fsbrowser.ctrl">
	<div class="slds-p-horizontal--small slds-size--1-of-3 set100Height overflowAuto">
		<div class="slds-form-element__control">
			<input type="text" class="slds-input" placeholder="Search file..." ng-model="filterFields" />
		</div>
		<div class="tree">
			<ul class="treeItem">
				<li ng-if="$root.listFiles" ng-repeat="data in $root.listFiles | filter : filterFields | orderBy : ['dir','name']" ng-include="'treeItem.tmpl'" class="listFiles"></li>
			</ul>
		</div>
	</div>
	<div class="slds-p-horizontal--small slds-size--2-of-3 set100Height">

		<div class="slds-grid slds-wrap">
			<div class="slds-size--5-of-5">
				<div class="slds-button-group" role="group">
					<div class="slds-form-element__control">
						<input type="text" name="curFile" id="curFile" class="slds-input" placeholder="" ng-model="curFile" />
					</div>
					<button class="slds-button slds-button--icon-border {{needSave ? 'curFile' : ''}}" ng-click="saveFile()" title="Save File. [CTRL+S]">
						<slds-Svg-Icon sprite="'utility'" icon="'package'" size="'small'"></slds-Svg-Icon>
					</button>
					<button class="slds-button slds-button--icon-border" title="JS Beutifiller. [CTRL+B]" ng-click="jsbeautifier();">
						<slds-Svg-Icon sprite="'utility'" icon="'puzzle'" size="'small'"></slds-Svg-Icon>
					</button>
					<!--<button class="slds-button slds-button--icon-more hide" aria-haspopup="true" title="More Actions">
						<slds-Svg-Icon sprite="'utility'" icon="'settings'" size="'small'"></slds-Svg-Icon>
						<slds-Svg-Icon sprite="'utility'" icon="'down'" size="'small'"></slds-Svg-Icon>
					</button>-->
					<button class="slds-button slds-button--icon-border" ng-click="filesList();" title="Refresh List. [CTRL+L]">
						<slds-Svg-Icon sprite="'utility'" icon="'refresh'" size="'small'"></slds-Svg-Icon>
					</button>
					<button class="slds-button slds-button--icon-border slds-button--icon-more" aria-live="assertive">
						<span class="slds-text-not-selected slds-truncate">
							<slds-Svg-Icon sprite="'utility'" icon="'chart'" size="'small'"></slds-Svg-Icon>
							{{fileSize | number:0}}b
						</span>
					</button>
					<button class="slds-button slds-button--icon-border slds-button--icon-more" aria-live="assertive">
	    				<label for="upload" class="slds-text-not-selected">

							<span class="slds-text-not-selected">
								<slds-Svg-Icon sprite="'utility'" icon="'upload'" size="'small'"></slds-Svg-Icon><span class="slds-max-small-hide">Upload</b>
							</span>
							<input type="file" style="display:none" id="upload" custom-On-Change="uploadFile" accept=".bin" class="slds-input" />
						</label>
					</button>

					<!--<button class="slds-button slds-button--icon-border slds-button--success">
						<slds-Svg-Icon sprite="'utility'" icon="'chart'" size="'small'"></slds-Svg-Icon>
						{{fileSize}}
					</button>-->
				</div>

			</div>

			<div class="slds-size--1-of-1">
				<div id="editorExt"></div>
			</div>
		</div>
	</div>
	<div>