<form class="wholePage slds-form--inline slds-align--absolute-center" ng-controller="login.ctrl">
  <div class="slds-form-element">
	<div class="slds-form-element__control">
	    <input type="text" id="uname" class="slds-input" ng-model="username" placeholder="Please enter username">
    </div>
    <div class="slds-form-element__control">
	    <input type="password" id="login" class="slds-input" ng-model="wwwpass" placeholder="Please enter password">
    </div>
  </div>
  <!--div class="slds-form-element"-->
	<button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive" ng-click="loadCfg()">
		<span class="slds-text-not-selected">
			<slds-Svg-Icon sprite="'utility'" icon="'unlock'" class="slds-button__icon--stateful slds-button__icon--left"></slds-Svg-Icon>Login
		</span>
	</button>
  <!--/div-->
</form>
<span ng-if="$root.isLoginSuccess" show-card template="'menu'" elid="'main'"></span>
