<div ng-controller="menu.ctrl" keypress-events>
	<div class="slds-context-bar slds-global-header_container">
		<div class="slds-context-bar__primary slds-context-bar__item--divider-right">
			<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click slds-no-hover">
				<div class="slds-context-bar__icon-action">
					<button ng-click="$root.isShowSidebar=true" class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Description of the icon when needed">
    			      <span class="slds-icon-waffle">
			            <span class="slds-r1"></span>
			            <span class="slds-r2"></span>
			            <span class="slds-r3"></span>
			            <span class="slds-r4"></span>
			            <span class="slds-r5"></span>
			            <span class="slds-r6"></span>
			            <span class="slds-r7"></span>
			            <span class="slds-r8"></span>
			            <span class="slds-r9"></span>
			          </span>
			          <span class="slds-assistive-text">Open App Launcher</span>
			        </button>
				</div>
				<span class="slds-context-bar__label-action slds-context-bar__app-name">
					<span class="slds-truncate"><b>{{$root.webConfig.webCfg.ver}}</b></span>
				</span>
			</div>
		</div>

		<nav class="side-nav" ng-show="$root.isShowSidebar" ng-keyup="event=$event">
			<div class="slds-context-bar slds-global-header_container">
			<div class="slds-context-bar__primary">
			<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--click slds-no-hover">
				<div class="slds-context-bar__icon-action">
					<button ng-click="$root.isShowSidebar=false" class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Description of the icon when needed">
    			      <span class="slds-icon-waffle">
			            <span class="slds-r1"></span>
			            <span class="slds-r2"></span>
			            <span class="slds-r3"></span>
			            <span class="slds-r4"></span>
			            <span class="slds-r5"></span>
			            <span class="slds-r6"></span>
			            <span class="slds-r7"></span>
			            <span class="slds-r8"></span>
			            <span class="slds-r9"></span>
			          </span>
			          <span class="slds-assistive-text">Open App Launcher</span>
			        </button>
				</div>
				<span class="slds-context-bar__label-action slds-context-bar__app-name">
					<span class="slds-truncate"><b>{{$root.serverConfig.webCfg.ver}}</b></span>
				</span>
			</div>
			</div>
			</div>
			<!--span ng-bind="$root.clientConfig.activeTabName = 'test'"></span-->
			<div class="slds-grid slds-grid--vertical slds-navigation-list--vertical" ng-repeat="(menuItem,menuBody) in menu">
              
				<h2 class="slds-text-title--caps slds-p-around--medium" id="entity-header">
					<slds-Svg-Icon class="slds-icon slds-icon_small slds-icon-text-default" ng-if="menuBody.icon" sprite="'utility'" icon="menuBody.icon"></slds-Svg-Icon>
					{{'menu.'+menuItem | translate}}
				</h2>

				<ul>
					<li ng-repeat="(tab, value) in menuBody.data" ng-init="value.index = $parent.$index * 10 + $index; value.label = (value.label ? value.label : value.name);" class="{{value.index}} {{value.index == $root.clientConfig.activeTab.index ? 'slds-is-active' : ''}}" role="presentation"  ng-click="changeTab(value)">
						<a href="#" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="entity-header" tabindex="{{$index}}">
							<span class="slds-truncate">
								<slds-Svg-Icon class="slds-input__icon slds-button__icon-- slds-button__icon--stateful slds-button__icon--left" ng-if="value.icon" sprite="'utility'" icon="value.icon"></slds-Svg-Icon>
								{{'menu.' + value.label | translate}}
							</span>
						</a>
						<span class="hide" ng-bind="$root.clientConfig.activeTab = (value.index == $root.clientConfig.activeTab.index) ? value : $root.clientConfig.activeTab"></span>
					</li>
				</ul>
			</div>
		</nav>

		<div ng-show="$root.isShowSidebar" ng-click="$root.isShowSidebar=false" class="slds-backdrop slds-backdrop_open"></div>

		<nav class="slds-context-bar__secondary" role="navigation">
			<ul class="slds-grid">
				<li class="slds-context-bar__item slds-is-active">
					<a class="slds-context-bar__label-action" href="javascript:void(0);">
						<slds-Svg-Icon class="slds-input__icon slds-button__icon-- slds-button__icon--stateful slds-button__icon--left" ng-if="$root.clientConfig.activeTab.icon" sprite="'utility'" icon="$root.clientConfig.activeTab.icon"></slds-Svg-Icon>
						<span class="slds-truncate">{{'menu.' + $root.clientConfig.activeTab.label | translate}}</span>
					</a>
				</li>

				<li class="slds-context-bar__item" ng-show="$root.clientConfig.isShowLog" ng-click="$root.isShowLog=!$root.isShowLog">
					<a class="slds-context-bar__label-action" href="javascript:void(0);">
						<slds-Svg-Icon class="slds-input__icon slds-button__icon-- slds-button__icon--stateful slds-button__icon--left" ng-if="$root.clientConfig.activeTab.icon" sprite="'utility'" icon="'description'"></slds-Svg-Icon>
						<span class="slds-truncate">{{'menu.showLog' | translate}}</span>
					</a>
				</li>

			</ul>
		</nav>
	</div>

	<div class="slds-tabs--scoped" style="padding-top:0px">
		<span ng-repeat="(menuItem, menuBody) in menu">
			<div ng-repeat="(tab, value) in menuBody.data" ng-init="value.index = $parent.$index * 10 + $index" id="tab-scoped-{{value.index}}" class="slds-tabs--scoped__content {{value.index == $root.clientConfig.activeTab.index ? 'slds-show' : 'slds-hide'}}" role="tabpanel" aria-labelledby="tab-scoped-{{value.index}}__item">
				<span ng-bind="$parent.show = ($root.clientConfig.activeTab.index === value.index);" class="hide"></span>
				<span ng-if="once = once || $parent.show" ng-show="$parent.show" show-card template="value.name" ctrlname="value.ctrlName" onload="value.onload"></span>
			</div>
		</span>
	</div>
</div>