﻿		<section ng-init="res = ($root.$log==undefined ? $root.readLog() : '')"class="slds-popover slds-popover_large" role="dialog" aria-label="Dialog Title" aria-describedby="dialog-body-id-1" style="position:fixed; top:0px; max-height:calc(80vh); width: calc(80vw);max-width: calc(80vw);">
			<header class="slds-docked-composer__header slds-grid slds-shrink-none" aria-live="assertive">
				<div class="slds-media slds-media_center slds-size_1-of-1 slds-no-space">
					<div class="slds-media__figure slds-m-right_x-small">
						<span class="slds-icon_container">
						<slds-Svg-Icon sprite="'utility'" icon="'description'" size="'small'" class="slds-icon slds-icon_small slds-icon-text-default"></slds-Svg-Icon>
		        	</span>
					</div>
					<div class="slds-media__body">
						<h2 class="slds-truncate" id="modal-heading-id-1">{{'logView.title' | translate}}</h2>
					</div>
				</div>
				<div class="slds-col_bump-left slds-shrink-none">
					<button class="slds-button slds-button_icon slds-button_icon-small slds-popover__close slds-button_icon" ng-click="$root.$log=''">
						<slds-Svg-Icon sprite="'utility'" icon="'delete'" size="'small'" class="slds-button__icon"></slds-Svg-Icon>
					</button>
					<button class="slds-button slds-button_icon slds-button_icon" ng-click="$root.isShowLog=!$root.isShowLog">
						<slds-Svg-Icon sprite="'utility'" icon="'close'" size="'small'" class="slds-icon slds-icon_small slds-icon-text-default"></slds-Svg-Icon>
		    	    </button>
				</div>
			</header>

			<div class="slds-popover__body" id="dialog-body-id-1">
				<pre ng-show="$root.$log.length>0" class="slds-scrollable" style="max-width: calc(90vw - 10px); max-height: calc(80vh - 80px); font-size: 85%;">{{$root.$log}}</pre>
				<div ng-show="$root.$log.length===0">{{'logView.isEmpty' | translate}}</div>
			</div>
		</section>
