﻿  <div class="slds-notify_container slds-is-relative" ng-init="isShow=true" ng-show="isShow" style="z-index:10">
    <div class="slds-notify slds-notify_toast slds-theme_warning" role="alert">
      <span class="slds-icon_container slds-icon-utility-warning slds-m-right_small slds-no-flex slds-align-top">
		<slds-Svg-Icon class="slds-icon slds-icon_small" sprite="'utility'" icon="'warning'"></slds-Svg-Icon>
      </span>
      <div class="slds-notify__content">
        <h2 class="slds-text-heading_small ">{{data.message | translate}}</h2>
      </div>
      <button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" ng-click="isShow=!isShow">
		<slds-Svg-Icon class="slds-icon slds-icon_small" sprite="'utility'" icon="'close'"></slds-Svg-Icon>
        <span class="slds-assistive-text">Close</span>
      </button>
    </div>
  </div>
