.set100Height {
	height: calc(100vh - 75px);
}

.hide {
	display:none;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
	top: calc(50vh - 30px);
    left: calc(50vw - 40px);
	width: 80px;
	height: 80px;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner 1.6s linear infinite;
	
/*	text-align: center;
    opacity: 0.75;
    background-color: #ffffff;
	font-weight: bold;
    font-size: 12pt;
    color: red;
    line-height: 2em;
	z-index: 10000;*/
}


.overlay {
    /* background: url(../imgs/spinner.gif) center center no-repeat; */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 0.75;
    background-color: #ffffff;
    /*text-align: center;*/
}

.wholePage {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    /*z-index: 1000;*/
}
.pageMessage {
	width: 100%;
	height: 100%;
    color: red !important;
    position: fixed;
    top: 50%;
	text-align: center;
	font-weight: bold;
}


/*#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    will-change: opacity;
} */

.side-nav {
    position: fixed;
    width: 240px;
    left: 0px;
    top: 0;
    margin: 0;
    height: calc(100vh + 60px);
    height: -moz-calc(100vh);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 9999;
    overflow-y: auto;
    will-change: left;
}


img.deviceimage {
	height: 60px;
}

.fileIsChanged {
	fill: #ff0000;
}

.eventEditor .CodeMirror {
	max-height : 233px;	
	/*max-width : 100%;*/
}

.cronEditor .CodeMirror {
	max-height : 150px;	
}


.eventEditor .codeMirror__container,  .cronEditor .codeMirror__container{
	width: 100%;
	/*height: 100%*/
}
.bgImage {
    background: url(../imgs/bg/_bg.png) repeat scroll center top transparent;
    background-color: #333;
    background-size: cover;
    background-attachment: fixed;
}
.active {
}

.inActive  {
	color : #bbbbbb	
}